@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hero animated blobs */
@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-8000 {
    animation-delay: 8s;
  }

  .animation-delay-10000 {
    animation-delay: 10s;
  }
  .animation-delay-12000 {
    animation-delay: 12s;
  }

  .animate-spin {
    animation-duration: 6s;
  }
}
/* Projects gradient */
.projects-Gradient {
  text-align: center;
  padding-bottom: 1px;
  background: linear-gradient(to right, #ec4899, #8f00ff) left bottom no-repeat;
  background-size: 100% 3px;
}
/* services gradient */
.services-Gradient {
  text-align: center;
  padding-bottom: 1px;
  background: linear-gradient(to right, #ec4899, #8f00ff) left bottom no-repeat;
  background-size: 100% 3px;
}

@layer components {
  .border-Gradient {
    text-align: center;
    padding-bottom: 1px;
    background: linear-gradient(to right, #ec4899, #8f00ff) left bottom
      no-repeat;
    background-size: 100% 3px;
  }

  .formInput {
    @apply outline-none
            bg-gray-100
            rounded-lg
            border
            border-b
            px-6
            py-6
            placeholder-gray-500
            transition-all
            focus:border-purple-800
            hover:border-purple-800;
  }
}

